<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecyclerViewCardView">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".MainBarangActivity"
            android:exported="false"
            android:label="Aplikasi Barang SQLite"
            android:parentActivityName=".MainActivity" />
        
        <activity
            android:name=".AddEditSiswaActivity"
            android:exported="false"
            android:label="Tambah/Edit Siswa"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".DatabaseTestActivity"
            android:exported="false"
            android:label="Database Test"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".DatabaseCRUDTestActivity"
            android:exported="false"
            android:label="Database CRUD Test"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".SelectDataDemoActivity"
            android:exported="false"
            android:label="SELECT Data Demo"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".PopupMenuDemoActivity"
            android:exported="false"
            android:label="PopupMenu Demo"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>